---
title: Home
layout: default
---
  <main class="container my-4">
    <div class="card-columns" id="full-site">
      {% for product in paginator.posts %}
      <div class="card">
        <a href="{{ site.url }}{{ product.url }}">
          <div class="row no-gutters">
            <div class="col-auto">
              <img class="card-img-top front-card photo" src="{{ product.featured_image_path }}" alt="header" />
            </div>
            <div class="col">
              <div class="card-block px-2">
                <span class="card-title text-info">{{ product.title }}</span>
                <p class="text-info">{% if site.currency_code and site.currency_code != '' %}{{ site.currency_code }}{% endif %} {{ product.price }} per {{ product.quantity }} {{ product.unit }}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <!-- Pagination links -->
    <nav aria-label="Page navigation example">
      {% if paginator.total_pages > 1 %}
      <div class="archive-pagination">
        <ul class="pagination justify-content-center">
          {% if paginator.previous_page %}
          <li class="page-item"><a class="page-link" href="{{ site.url }}{{ paginator.previous_page_path | replace: '//', '/' }}">&laquo; Prev Page</a></li>
          {% endif %} {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
          <li class="page-item active"><a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
          {% elsif page == 1 %}
          <li class="page-item"><a class="page-link" href="{{ site.url }}/">{{ page }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="{{ site.paginate_path | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
          {% endif %} {% endfor %} {% if paginator.next_page %}
          <li class="page-item"><a class="page-link" href="{{ site.url }}{{ paginator.next_page_path | replace: '//', '/' }}">Next Page &raquo;</a></li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </nav>
  </main>


  {%comment%}

  <section class="entry one-third styles" itemscope itemtype="http://schema.org/Product">

    <div class="style">
      <a href="{{ site.url }}{{ product.url }}">
        <img width="100%" height="400" src="{{ product.featured_image_path }}" itemprop="image">
      </a>
    </div>

    <div class="product-details">
      <div class="product-name">
        <h4><a href="{{ site.url }}{{ product.url }}">{{ product.title }}</a></h4>
      </div>
      <div class="product-price">
        <p>&#x20B9;{{ product.price }}/{{ product.quantity }} {{ product.unit }}</p>
      </div>
    </div>

  </section>
  {%endcomment%}