---
layout: none 
---

<!doctype html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
  
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% if page.url == '/products/' %}
    <meta name="description" content="{% if page.content %}{{ page.content }}{% endif %}">
    {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
    {% if site.fb_appid and site.fb_appid != '' %}
    <meta property="fb:app_id" content="{{ site.fb_appid }}" />
    {% endif %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% elsif page.headline %}{{ page.headline }}{% else %}{{ site.title }}{% endif %}|{{ site.title }}">
    {% if page.url == '/products/' %}
    <meta property="og:description" content="{% if page.content %}{{ page.content }}{% endif %}">
    {% endif %}
    <meta property="og:image" content="{% if page.facebook_image_path %}{{ page.facebook_image_path }}{% elsif page.featured_image_path %}{{ page.featured_image_path }}{% else %}{{ site.favicon }}{% endif %}">
    <meta http-equiv="x-dns-prefetch-control" content="on">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/jquery.shop.js"></script>


    <link rel="icon" type="image/png" href="{{ site.favicon }}"/>
    <link rel="apple-touch-icon" sizes="192x192" href="{{ site.favicon }}">
    <link rel="manifest" href="{{ site.url }}/manifest.json">

    <script src="{{ site.url }}/js/sw-reg.js"></script>
    <script src="{{ site.url }}/js/pwa-app.js"></script>

    <link rel="stylesheet" href="{{ site.url }}/css/main.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

    {% assign thesiz = site.adsense.size %}
    {% if site.adsense and thesiz == 23 %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "{{ site.adsense }}",
        enable_page_level_ads: true
      });
    </script>
    {% endif %}
    {% if site.analytics and site.analytics != '' %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.analytics }}');
    </script>
    {% endif %}
  </head>
  <body class="bg-light">
    <div class="site-container">
      <header class="site-header" itemscope itemtype="http://schema.org/WPHeader">
        <div class="wrap" style="margin-bottom: 80px;">  
          <!--Navbar-->
          <nav class="navbar navbar-expand-lg justify-content-between fixed-top scrolling-navbar navbar-dark info-color">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="{{ site.url }}/">{{ site.title }}</a>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link px-2" href="{{ site.url }}/cart">
                  <i class="fa fa-shopping-cart"></i> <span class="bg-danger badge"></span>
                </a> 
              </li>
            </ul>
            <!-- Collapse button -->
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->
            
            <!-- Collapsible content -->
            <!-- <div class="collapse navbar-collapse" id="basicExampleNav">
              <form class="form-inline">
                <div class="md-form my-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
              </form>
            </div> -->
            <!-- Collapsible content -->
          </nav>   
        </div>
      </header>
      {{ content }}
      <div class="text-center my-3">
        <a href="#" onclick="addToHomeScreen()" class="btn-md rounded-pill btn btn-secondary pwa">Install App</a>
        <a href="{{ site.url }}/blog" class="btn-md rounded-pill btn btn-secondary">Blog</a>
        <a href="{{ site.url }}/" class="btn-md rounded-pill btn btn-secondary">Go Home</a>
        <a href="https://www.monsoonmalabar.com/search_shop" class="btn-md rounded-pill btn btn-secondary">Search nearby shops</a>
        
        <p class="pwa my-2 note note-info">Note: Install App button only works in google chrome browser in android phone. So update your chrome and open this site in chrome browser. In I phone open this portal in safari and <a href="https://forum.monsoonmalabar.com/board/1/-Mdg3u1VndHyGpLGMTIw">click here to know how to install</a>.</p>
      </div>
      <div style="width: 100%">
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q={{ site.location }}+(Your%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        <p class="note note-info">Click on "view larger map" to get direction</p>
      </div>
      <div class="my-2 py-2">
        <p class="note note-info">Contact Seller</p>
  			{% if site.mobile and site.mobile != '' %}
        <a href="tel:{{ site.mobile }}" class="btn btn-md btn-success">Call</a>
        <a href="https://wa.me/{{ site.mobile }}" class="btn btn-md btn-success">Whatsapp</a>
        {% endif %}
        <a href="mailto:{{ site.email }}" class="btn btn-md btn-success">Email</a>
      </div>
    </div>
    <script>
      const url = new URL(window.location.href);
      const isStandalone = window.matchMedia('(display-mode: standalone)').matches;
      if (navigator.standalone || isStandalone) {
        console.log('it works');
      Array.from(
        document.getElementsByClassName("pwa")
      ).forEach((e)=>e.style.display='none')
      }
    </script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    
      <script async src="{{ site.url }}/js/style-picker.js"></script>
      <script>
        $(document).ready(function(){
       $('.zoom-2').zoom();
      });
      </script>
      <script src="{{ site.url }}/js/s.min.js"></script>
    
    <script src="{{ site.url }}/js/infinite.js"></script>

  </body>
</html>
